{% extends "forms/field.html.twig" %}

{% block field %}
  {% embed 'forms/default/fields.html.twig' with {name: field.name, fields: field.fields} %}
    {% block outer_markup_field_open %}<div class="form-tab">{% endblock %}
    {% block outer_markup_field_close %}</div>{% endblock %}
  {% endembed %}
{% endblock %}