{% extends "forms/field.html.twig" %}

{% if field.options %}
  {% set value = field.options[value] ?: value %}
{% endif %}

{% block input %}
  <span class="field-value">
    {% switch field.filter %}
      {% case 'date' %}
         {{ value|date }}
      {% case 'raw' %}
         {{ value|raw }}
      {% default %}
         {{ value }}
    {% endswitch %}
  </span>
{% endblock %}