{% if preview_url %}
<a id="titlebar-button-preview-open" href="{{ preview_url }}" class="button" target="_blank">
    <i class="fa fa-external-link"></i> {{ "PLUGIN_ADMIN.OPEN_NEW_TAB"|tu }}
</a>
{% endif %}
