{# href="{{ uri.addNonce(route.withoutParams().withGravParam('task', 'copy').getUri(), 'admin-form', 'admin-nonce') }}" #}
<a id="titlebar-button-copy" href="#modal-page-copy" data-remodal-target="modal-page-copy" class="button page-copy">
    <i class="fa fa-copy"></i> {{ "PLUGIN_ADMIN.COPY"|tu }}
</a>
