<a id="titlebar-button-delete" href="#delete" data-remodal-target="delete" data-delete-url="{{ uri.addNonce(route.withoutParams().withGravParam('task', 'delete').getUri(), 'admin-form', 'admin-nonce') }}" class="button danger">
    <i class="fa fa-fw fa-trash-o"></i> {{ "PLUGIN_ADMIN.DELETE"|tu }}
</a>
