<form
    {% block embed_form_core %}{% endblock %}
    {% block embed_form_classes %}{% endblock %}
    {% block embed_form_custom_attributes %}{% endblock %}
>
  {% block embed_fields %}{% endblock %}
  {% block embed_buttons %}{% endblock %}
</form>
