.off-canvas .learn-sidebar:before {
    background: none;
}

.highlightable h5:first-of-type {
 margin-top: 2rem;
}

.highlightable h5 {
 margin-top: 1rem;
 color: #333;
}

#chapter {
 max-width: 80%;
}

/* Images helper classes */
img.inline {
 display:inline;
 margin:5px 15px 5px 5px;
 vertical-align: middle;
}

img.center {
 display: block;
 margin:5px 15px 5px 5px;
 margin-left: auto;
 margin-right: auto;
}

td img {
 margin: 0.2rem auto;
}

/* Figures and caption */
figure img {
 margin: auto;
}

figure figcaption {
 font-style: italic;
}

/* List spacing */
ul li, ol li {
 margin-top: 0;
}

ul, ol {
 margin-bottom: 0;
}

li p {
 margin: inherit;
}

/* Paragraphs */
p {
 margin: 0 0 1rem;
}

.notices p {
 margin: 0 0 0 0.5rem;
}

/* Flex */
.flex-container {
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
}

.flex-child {
 display: inline-flex;
 text-align: center;
}

.nomargin * {
 margin: 0px auto;
}

/* Breadcrums */
#top-bar #breadcrumbs > span span, #top-bar #breadcrumbs > a span {
 padding: 0 !important;
}

#top-bar #breadcrumbs > span, #top-bar #breadcrumbs > a {
 padding: 0 !important;
}

#top-bar #breadcrumbs > a {
 padding: 0;
}

/* Fonts and headings */

h1, h2, h3, h4, h5, h6 {
   font-family: "Source Sans Pro", "Metropolis", "Helvetica Neue", sans-serif;
   margin-top: 1rem;
   margin-bottom: 1rem;
}

.simplebar-content h5 .fa {
   font-size: 0.75em;
   margin-right: 0.2em;
   margin-left: 0.4em;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Bold-webfont.eot');
    src: url('../fonts/SourceSansPro-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-Bold-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-Bold-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-Bold-webfont.svg#fonts/SourceSansProBold') format('svg');
    font-weight: 700;
    font-style: normal;
}

/* Give a gray background to the white logo*/
img#whitelogo {
    background-color: gray;
    padding: 10px;
}

/* Hide home page in menu */
.simplebar-content h5:first-child {
    display: none;
}

/* Sidebar */

#sidebar-id {
    background-color: white;
}

body .off-canvas .learn-sidebar a {
    color: #364149;
}

body .off-canvas .learn-sidebar .learn-nav ul li.active > a {
    color: black;
    border-right: black 1px solid;
}

