/*!
 * Dark Mode Theme
 * 
 * Inspired by Louis Charette
 * https://github.com/lcharette/website/blob/cc855a6eb29693613e5e4e1d589a17ba7faf4aa9/themes/quark-custom/css/darkMode.scss
 */
 
body.dark-mode {
  background-color:#171b21
}

body.dark-mode #body-wrapper,body.dark-mode #page-wrapper {
  background-color:#171b21;
  color:#e8e9eb
}

body.dark-mode a {
  color:#72b6ec
}

body.dark-mode .card,body.dark-mode #footer,body.dark-mode .dropmenu ul ul {
  background-color:#111418 !important
}

body.dark-mode h1,body.dark-mode h2,body.dark-mode h3,body.dark-mode h4,body.dark-mode h5,body.dark-mode h6,body.dark-mode #header a {
  color:#fff
}

body.dark-mode .label.label-primary {
  color:#fff;
  background-color:#72b6ec
}

body.dark-mode .label.label-secondary {
  color:#e8e9eb;
  background-color:#3f4755
}

body.dark-mode .pagination li {
  border-color:#3f4755;
  background:#111418
}

body.dark-mode .menu {
  background:#171b21;
  color:#a5a9af
}

body.dark-mode .menu .menu-item>a:focus,body.dark-mode .menu .menu-item>a:hover {
  background:#111418
}

body.dark-mode #sidebar ul.related-pages li {
  border-bottom-color:#3f4755
}
body.dark-mode .form-input,body.dark-mode .search-input,body.dark-mode [data-grav-field="array"] input,body.dark-mode [data-grav-field="array"] textarea {
  background:#111418
}

body.dark-mode img {
  filter:brightness(0.85) contrast(1.2)
}


/*
 * 
 * Custom
 *
*/

body.dark-mode #top-bar #navigation > a:hover {
    background-color:#111418
}

body.dark-mode .learn-brand, body.dark-mode .learn-nav {
    background-color:#171b21 !important
}

body.dark-mode .off-canvas .learn-sidebar .learn-brand #logo path {
    fill: #e8e9eb !important;
}

body.dark-mode .simplebar-content h5 {
   border-top: 1px solid #3f4755;
}

body.dark-mode .off-canvas .learn-sidebar .learn-nav ul.searched a {
    color: #e8e9eb
}

body.dark-mode .off-canvas .learn-sidebar .learn-nav ul li.active > a {
    color: #a5a9af
}

body.dark-mode .off-canvas .learn-sidebar .searchbox ::placeholder {
    color: #a5a9af
}

body.dark-mode .off-canvas .learn-sidebar .searchbox input {
    color: #e8e9eb
}

body .off-canvas .learn-sidebar .learn-nav ul.searched .search-match a:hover, body  .off-canvas .learn-sidebar .learn-nav ul.searched .search-match a {
    color: #666c9c;
}

body.dark-mode .off-canvas .learn-sidebar .learn-nav .read-icon, body.dark-mode .off-canvas .learn-sidebar .searchbox, body.dark-mode .off-canvas .learn-sidebar .search-options .version-chooser select,
body.dark-mode .off-canvas .learn-sidebar a, body.dark-mode .off-canvas .learn-sidebar .learn-nav ul li a > span > b, body.dark-mode .off-canvas .learn-sidebar .learn-nav ul li a > i
{
    color: #e8e9eb
}

body.dark-mode table tbody tr:nth-of-type(2n+1) {
  background:#111418
}

body.dark-mode table td, table th {
  border-bottom-color: #3f4755
}

body.dark-mode .danger{
  background-color: #806c6c;
}
body.dark-mode .warning {
  background-color: #6b6859;
}
body.dark-mode .success {
  background-color: #6a7964;
}

.notices.yellow {
    border-left-color: rgb(147, 91, 12);
    background-color: rgb(49, 34, 11);
    color: rgb(238, 160, 52);
}

.notices.red {
    border-left-color: rgb(137, 33, 30);
    background-color: rgb(46, 11, 11);
    color: rgb(219, 90, 86);
}

.notices.note {
    border-left-color: rgb(27, 110, 134);
    background-color: rgb(19, 34, 42);
    color: rgb(75, 185, 218);
}

.notices.green {
    border-left-color: rgb(52, 120, 52);
    background-color: rgb(25, 44, 19);
    color: rgb(122, 197, 122);
}

#ynhlogo {
    filter: invert(1);
}

/* Give a gray background to the white logo*/
img#whitelogo {
    background-color: unset;
    padding: 0;
}
