
/* Source Code Pro */

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/SourceCodePro-ExtraLight-webfont.eot');
    src: url('../fonts/SourceCodePro-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceCodePro-ExtraLight-webfont.woff') format('woff'),
         url('../fonts/SourceCodePro-ExtraLight-webfont.ttf') format('truetype'),
         url('../fonts/SourceCodePro-ExtraLight-webfont.svg#fonts/SourceCodeProExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/SourceCodePro-Light-webfont.eot');
    src: url('../fonts/SourceCodePro-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceCodePro-Light-webfont.woff') format('woff'),
         url('../fonts/SourceCodePro-Light-webfont.ttf') format('truetype'),
         url('../fonts/SourceCodePro-Light-webfont.svg#fonts/SourceCodeProLight') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/SourceCodePro-Regular-webfont.eot');
    src: url('../fonts/SourceCodePro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceCodePro-Regular-webfont.woff') format('woff'),
         url('../fonts/SourceCodePro-Regular-webfont.ttf') format('truetype'),
         url('../fonts/SourceCodePro-Regular-webfont.svg#fonts/SourceCodeProRegular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/SourceCodePro-Semibold-webfont.eot');
    src: url('../fonts/SourceCodePro-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceCodePro-Semibold-webfont.woff') format('woff'),
         url('../fonts/SourceCodePro-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/SourceCodePro-Semibold-webfont.svg#fonts/SourceCodeProSemibold') format('svg');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/SourceCodePro-Bold-webfont.eot');
    src: url('../fonts/SourceCodePro-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceCodePro-Bold-webfont.woff') format('woff'),
         url('../fonts/SourceCodePro-Bold-webfont.ttf') format('truetype'),
         url('../fonts/SourceCodePro-Bold-webfont.svg#fonts/SourceCodeProBold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/SourceCodePro-Black-webfont.eot');
    src: url('../fonts/SourceCodePro-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceCodePro-Black-webfont.woff') format('woff'),
         url('../fonts/SourceCodePro-Black-webfont.ttf') format('truetype'),
         url('../fonts/SourceCodePro-Black-webfont.svg#fonts/SourceCodeProBlack') format('svg');
    font-weight: 800;
    font-style: normal;

}


/* Source Sans Pro */

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-SemiboldIt-webfont.eot');
    src: url('../fonts/SourceSansPro-SemiboldIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-SemiboldIt-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-SemiboldIt-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-SemiboldIt-webfont.svg#fonts/SourceSansProSemiboldItalic') format('svg');
    font-weight: 600;
    font-style: italic;

}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Bold-webfont.eot');
    src: url('../fonts/SourceSansPro-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-Bold-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-Bold-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-Bold-webfont.svg#fonts/SourceSansProBold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-BoldIt-webfont.eot');
    src: url('../fonts/SourceSansPro-BoldIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-BoldIt-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-BoldIt-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-BoldIt-webfont.svg#fonts/SourceSansProBoldItalic') format('svg');
    font-weight: 700;
    font-style: italic;

}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Black-webfont.eot');
    src: url('../fonts/SourceSansPro-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-Black-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-Black-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-Black-webfont.svg#fonts/SourceSansProBlack') format('svg');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-BlackIt-webfont.eot');
    src: url('../fonts/SourceSansPro-BlackIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-BlackIt-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-BlackIt-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-BlackIt-webfont.svg#fonts/SourceSansProBlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;

}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-ExtraLight-webfont.eot');
    src: url('../fonts/SourceSansPro-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-ExtraLight-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-ExtraLight-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-ExtraLight-webfont.svg#fonts/SourceSansProExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-ExtraLightIt-webfont.eot');
    src: url('../fonts/SourceSansPro-ExtraLightIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-ExtraLightIt-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-ExtraLightIt-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-ExtraLightIt-webfont.svg#fonts/SourceSansProExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;

}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Light-webfont.eot');
    src: url('../fonts/SourceSansPro-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-Light-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-Light-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-Light-webfont.svg#fonts/SourceSansProLight') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-LightIt-webfont.eot');
    src: url('../fonts/SourceSansPro-LightIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-LightIt-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-LightIt-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-LightIt-webfont.svg#fonts/SourceSansProLightItalic') format('svg');
    font-weight: 300;
    font-style: italic;

}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Regular-webfont.eot');
    src: url('../fonts/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-Regular-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-Regular-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-Regular-webfont.svg#fonts/SourceSansProRegular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-It-webfont.eot');
    src: url('../fonts/SourceSansPro-It-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-It-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-It-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-It-webfont.svg#fonts/SourceSansProItalic') format('svg');
    font-weight: 400;
    font-style: italic;

}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Semibold-webfont.eot');
    src: url('../fonts/SourceSansPro-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-Semibold-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-Semibold-webfont.svg#fonts/SourceSansProSemibold') format('svg');
    font-weight: 600;
    font-style: normal;

}

/* Source Sans Pro */
@font-face {
    font-family: 'CosmicSansNeueMono';
        src: url('../fonts/CosmicSansNeueMonoBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CosmicSansNeueMono';
        src: url('../fonts/CosmicSansNeueMono.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CosmicSansNeueMono';
        src: url('../fonts/CosmicSansNeueMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CosmicSansNeueMono';
        src: url('../fonts/CosmicSansNeueMonoBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

