{% if not (theme_config.hide_site_title) %}
  <p><div style="margin-bottom: -4rem;">&nbsp;</div></p>
  <h5>{{config.site.title}}</h5>
  <p><div style="margin-top: -4rem;">&nbsp;</div></p>
{% endif %}
