/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
  --ifm-container-width-xl: 1600px;
  --ifm-container-width: 1280px;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: rgb(0, 112, 211);
  --ifm-color-primary-dark: rgb(0, 101, 189);
  --ifm-color-primary-darker: rgb(0, 95, 179);
  --ifm-color-primary-darkest: rgb(0, 78, 148);
  --ifm-color-primary-light: rgb(0, 123, 232);
  --ifm-color-primary-lighter: rgb(0, 129, 243);
  --ifm-color-primary-lightest: rgb(19, 144, 255);
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ifm-navbar-background-color: rgb(240, 240, 245);

  --ifm-hero-background-color: oklch(0.243535 0 0);
}

[data-theme='light'] ::selection {
  background-color: color-mix(in srgb, var(--ifm-color-primary), white 60%);
}

[data-theme='dark'] ::selection {
  background-color: color-mix(in hsl, var(--ifm-color-primary), black 50%);
}

[data-theme='light'] .footer {
  --ifm-footer-background-color: rgb(240, 240, 245);
  --ifm-footer-title-color: inherit;
  --ifm-footer-link-color: var(--ifm-color-primary);
  --ifm-footer-color: inherit;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {
  --ifm-color-primary: rgb(114, 182, 236);
  --ifm-color-primary-dark: rgb(83, 166, 232);
  --ifm-color-primary-darker: rgb(68, 158, 230);
  --ifm-color-primary-darkest: rgb(29, 133, 216);
  --ifm-color-primary-light: rgb(145, 198, 240);
  --ifm-color-primary-lighter: rgb(160, 206, 242);
  --ifm-color-primary-lightest: rgb(207, 230, 248);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  --ifm-background-color: rgb(23, 27, 33);
  --ifm-navbar-background-color: rgb(17, 20, 24);
}

html[data-theme='dark'] .footer {
  --ifm-footer-background-color: rgb(17, 20, 24);
  --ifm-footer-title-color: inherit;
  --ifm-footer-link-color: var(--ifm-color-primary);
  --ifm-footer-color: inherit;
}

html[data-theme='dark'] .hero {
  --ifm-hero-background-color: oklch(0.243535 0 0);
}

/* Allows dynamic images based on light/dark mode */
/* https://docusaurus.io/docs/markdown-features/assets#github-style-themed-images */
[data-theme='light'] img[src$='#gh-dark-mode-only'],
[data-theme='dark'] img[src$='#gh-light-mode-only'],
[data-theme='light'] img.gh-dark-mode-only,
[data-theme='dark'] img.gh-light-mode-only {
  display: none;
}

[data-theme='dark'] #ynhlogo,
[data-theme='dark'] .navbar__logo,
[data-theme='dark'] .sidebarLogo_isFc > img {
  filter: invert(1);
}

.navbar__brand > .navbar__logo {
  transition: var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

/* This needs to be adapted to --ifm-navbar-link-hover-color */
[data-theme='light'] .navbar__brand:hover > .navbar__logo {
  filter: invert(1) brightness(35%) sepia(100) saturate(400%) hue-rotate(174deg);
}

[data-theme='dark'] .navbar__brand:hover > .navbar__logo {
  filter: invert(1) brightness(55%) sepia(100) saturate(300%) hue-rotate(174deg);
}

[data-theme='light'] img#whitelogo {
  background-color: darkgray;
}

[data-theme='dark'] img#darklogo {
  background-color: lightgray;
}
