/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ifm-navbar-background-color: rgba(182, 227, 157, 1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  --ifm-navbar-background-color: rgba(15, 50, 30, 1);
}

html[data-theme='light'] .footer {
  --ifm-footer-background-color: rgba(182, 227, 157, 1);
  --ifm-footer-title-color: inherit;
  --ifm-footer-link-color: inherit;
  --ifm-footer-color: inherit;
}

html[data-theme='dark'] .footer {
  --ifm-footer-background-color: rgba(15, 50, 30, 1);
  --ifm-footer-title-color: inherit;
  --ifm-footer-link-color: inherit;
  --ifm-footer-color: inherit;
}

/* Allows dynamic images based on light/dark mode */
/* https://docusaurus.io/docs/markdown-features/assets#github-style-themed-images */
[data-theme='light'] img[src$='#gh-dark-mode-only'],
[data-theme='dark'] img[src$='#gh-light-mode-only'],
[data-theme='light'] img.gh-dark-mode-only,
[data-theme='dark'] img.gh-light-mode-only {
  display: none;
}

[data-theme='dark'] #ynhlogo,
[data-theme='dark'] .navbar__logo {
  filter: invert(1);
}
[data-theme='light'] img#whitelogo {
  background-color: darkgray;
}

[data-theme='dark'] img#darklogo {
  background-color: lightgray;
}
