<section id="footer" class="section">
    <section class="container grid-xl">
        <p>Powered by <a href="http://getgrav.org">Grav</a> + <i class="fa fa-code"></i> with <i class="fa fa-heart-o pulse "></i> by <a href="https://trilby.media">Trilby Media</a>.
        • <a href="https://yunohost.org/tos">Terms of Service</a></p>
    </section>
</section>