{% set button_tag %}
<button
    {% block embed_button_core %}{% endblock %}
    {% block embed_button_classes %}{% endblock %}
>{%- block embed_button_content -%}{%- endblock -%}</button>
{% endset %}

{% if button_url %}
  <a href="{{ button_url|e }}">{{ button_tag|trim|raw }}</a>
{% else %}
  {{ button_tag|trim|raw }}
{% endif %}
