{% extends "forms/field.html.twig" %}

{% block field %}
<div class="form-spacer {{ field.classes }}">
    {% if field.title %}
        <h3>{{- field.title|t|raw -}}</h3>
    {% endif %}

    {% if field.markdown %}
        <p>{{- field.text|t|markdown|raw -}}</p>
    {% else %}
        <p>{{- field.text|t|raw -}}</p>
    {% endif %}

    {% if field.underline %}
    <hr />
    {% endif %}
</div>
{% endblock %}
