<a class="github-link tooltip tooltip-bottom" href="{{ github_config.tree ~  ('/'~page.filePathClean)|replace({'/user/':''}) }}" data-tooltip="Edit this page on GitHub"><i class="fa fa-pencil-square"></i> {{ 'THEME_LEARN4_GITHUB_EDIT'|t }}</a>
